
.outer{ 
  height: 100%;
  width: 1000px;
  background-color:rgb(255, 155, 225);
  border-color: rgb(150, 189, 92); 
  float:left;
}
.content { 
     max-width: 1500px;
     margin:auto;
}
.click {
    font-size: 25px;
    color: red;
    //margin-left: 45%;
    margin-top: 4px;
   // float: left;
   //text-align: center;
 }
 .e {
    margin-left: 30%;
    margin-top: 4px;
    margin-right: 0px;
    width: 25px;
    height: 25px;
    float: left;
}
.subheading{
  font-size: 15px;
  font-weight: bold;
  color: darkred;
  margin-left: 20px;
  margin-top: 5px;
 // float: left;
 //text-align: center;
}
.eclick{
    padding-left: 1px;
    padding-top: 0px;
    height: 100px;
    width: 100%;
    background-color: wheat;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: auto;
    border-color: rgb(150, 189, 92); 
}
.our_services{
  padding-left: 1px;
  padding-top: 0px;
  height: 700px;
  width: 100%;
  background-color: rgb(114, 198, 247);
  margin-left: 0px;
  margin-top: 0px;
  margin-right: auto;
  border-color: rgb(150, 189, 92); 
}
.sidebaricon{
  color:darkviolet;
  font-size:30px;
  cursor:pointer;
  float:left;
  size:10mm;
  margin-top: 15px;
}


.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: dodgerblue; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: yellow;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: black;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
@media screen and (max-width: 450px) {
  .click{color:lime;}
  .e {
    margin-left: 20%;
  }
}

 